<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.639" targetFramework="net472" />
  <package id="ScottPlot" version="4.0.47" targetFramework="net472" />
  <package id="ScottPlot.WinForms" version="4.0.47" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.0" targetFramework="net472" />
</packages>